<div>
  Filter by:
  <u ng-hide = "hhsCtrl.tab == 0"> {{hhsCtrl.tab}}:</u>
  <u ng-hide = "filterCtrl.categoryTab == 0"> {{filterCtrl.categoryTab}}</u>
  <u ng-hide = "filterCtrl.categoryTab == 0 || filterCtrl.qualityTab == 0">and</u>
  <u ng-hide = "filterCtrl.qualityTab == 0"> {{filterCtrl.qualityTab}}</u>

  <table>
    <tr>
      <td ng-repeat = "category in filterCtrl.cardCategorys">
        <button class="btn btn-default" ng-click="filterCtrl.setCategoryTab(category)" style="width:100px">{{category}}</button>
      </td>
    </tr>
  </table>
  
  <div>
    <div ng-repeat = "quality in filterCtrl.qualityLevels">
      {{quality}}: <button id="quality" name="quality" ng-model="$parent.pageSet" category="checkbox" ng-click="filterCtrl.setQualityTab(quality)"></button><br />
    </div>
  </div>

  <button class="btn btn-default" href ng-click="filterCtrl.clearFilters()">Clear Filters</button>
 </div>
